@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*  Bruk klasser (class) i CSS istedet for id */

/* BODY */

body {
  margin: 0;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 0; /* top right bottom left eks 10 15 15 10 - top/bottom - left/right */
  /* background-color: black; */
  height: 88px;
}

.abstractLogo {
  z-index: 10;
  width: 200px;
  height: 51px;
}

.menu {
  padding-right: 28px;
}

ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* MAIN */

section {
  height: 100vh;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Source Sans 3';
  color: white;
  text-align: center;
  background-color: gray;
  height: 100px;
}

