@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
/*  Bruk klasser (class) i CSS istedet for id */

/* BODY */

:root {
  --primaryFontFamily :  "Libre Franklin";
}



body {
  margin: 0;
  font-family: var(--primaryFontFamily);
  display: flex;
  flex-direction: column;  
  height: 100%;
  min-height: 100vh;
  cursor: auto;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px; /* top right bottom left eks 10 15 15 10 - top/bottom - left/right */
  background-color: black;
  height: 88px;

}

.logoWrapperDiv {
  align-items: center;
  gap: 10px;
  
}

.abstractLogo {

  width: 126px;
  height: 82px;
}

.headerText {
  font-size: 24px;
  color:white;
}

.button {
  font-family: var(--primaryFontFamily);
  border-radius: 8px;
}

.flex{
  display: flex;
}

.buttonDiv {
  gap: 16px;
  align-items: center;
}

.searchButton {
  width:  265px;
  height: 54px;
  color:gray;
  background-color: white;
  padding: 10px 20px 10px 16px;
  text-align: left;
  border: none;
}

.submitButton {
  width: 231px;
  height: 50px;
  padding: 6px 12px;
  background-color: black;
  color:white;
  font-size: 24px;
  border: 1px solid white;
}

.signInButton {
  width : 140px;
  height: 50px;
  font-size: 24px;
  color: white;
  background-color: #4c5fd5;
  border: none;
  
}



/* MAIN */

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}


h1 {
  font-family: var(--primaryFontFamily);
 font-size: 80px;
 font-weight: normal;
 text-align: center;
 color:black;

}



.hero {
  justify-content: center;
  background-color: #dadbf1;
  height: 397px;
  width: 100%;
}


.inputSearch {
  width: 720px;
  height: 66px; 
  border-radius: 5px;
  padding: 16px;
}


section {
  height: 100vh;
}

.choicesSection
{
  display: grid;
  grid-template-columns: 32rem 32rem;
  /* grid-template-rows: auto auto; */
  justify-items: center;
  column-gap: 24px;
  
  height: fit-content;
  margin: 60px 0;
  
}

.choicesDiv {
  /* width: 45rem; */
  gap: 30px;
  align-items: first baseline;
  height: fit-content;
  margin: 30px;
}


.iconAndTextWrapper {
  align-items: flex-start;
  gap: 30px;
}

.iconsMain {
  width: 5rem;
}

.headingIconChoices {
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.choicesText {
  font-size: 24px;
  font-weight: normal;
}

.anchorLearnMore {
  font-family: var(--primaryFontFamily);
  color: #4C5Fd5;
  font-size: 20px;
  text-decoration: none;
}




/* FOOTER */

footer {
 background-color: black;
}

.gridContainer {

  display: grid;
  grid-template-areas: "column1 column2 coulumn3 column4 column5"
                       "copyrightDiv copyrightDiv copyrightDiv copyrightDiv sidebar";

  justify-items: left;
  background-color: black;
  padding-left: 100px;
  height: fit-content;
}

.column1, .column2, .column3, .column4, .column5 {
  flex-direction: column;
}
.column5{

  justify-content: flex-end;
  
}

.copyrightDiv {
  justify-items: flex-end;
}

.footerHeadingText {
  font-size: 24px;
  color: white;
  font-weight: bold;
  height: fit-content;
}

.footerAnchors {
  color:white;
  font-size: 16px;
  text-decoration: none;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.contactText {
  font-weight: bold;
}

.footerText {
  color:white;
  margin:0;
  padding: 0;
  height: fit-content;
  font-size: 16px;
}

.footerAnchors:hover {
  text-decoration: underline;

}

.footerCopyrightText {
  font-size: 20px;
  font-weight: bold;
  color:white;
  grid-area: sidebar;
}

.logoFooter {
  width: 35px;
}